@using System.Reflection
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />    
    @* <link rel="stylesheet" type="text/css" href="~/app.css?version=0.1"> *@
    <link rel="stylesheet" href="app.css?v=@Version" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="TodoListForMee.styles.css" />
    
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    private static long? version;
    public static long Version
    {
        get
        {
            version ??= GetAssemblyFileDate();
            return (long)version;
        }
    }
    private static long GetAssemblyFileDate()
    {
        Assembly assembly = Assembly.GetExecutingAssembly();
        FileInfo fi = new(assembly.Location);
        return fi.LastWriteTime.Ticks;
    }
}